# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.codeLab_week08.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\spring2021\codeLab01\week08\codeLab_week08\.idea\.idea.codeLab_week08\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
